<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><a routerLink="/table-of-contents">1 John 2:1-11</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-slides pager="true">
    <ion-slide>
      <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
      <h1>Chapter 2</h1>
      <h3>Christ, Our Answer for Sin</h3>
      <p>
        1 You are my dear children, and I write these things to you so that you
        won’t sin. But if anyone does sin, we continually have a forgiving Redeemer
        who is face-to-face with the Father: Jesus Christ, the Righteous One. 2 He
        is the atoning sacrifice for our sins, and not only for ours but also for
        the sins of the whole world.
      </p>
      <h3>The New Commandment</h3>
      <p>
        3 Here’s how we can be sure that we’ve truly come to know God: if we keep
        his commands. 4 If someone claims, “I have come to know God by experience,”
        yet doesn’t keep God’s commands, he is a phony and the truth finds no place
        in him. 5 But the love of God will be perfected within the one who obeys
        God’s Word. We can be sure that we’ve truly come to live in intimacy with
        God, 6 not just by saying, “I am intimate with God,” but by walking in the
        footsteps of Jesus. 7 Beloved, I’m not writing a new commandment to you, but
        an old one that you had from the beginning, and you’ve already heard it. 8
        Yet, in a sense, it is a new commandment, as its truth is made manifest both
        in Christ and in you, because the darkness is disappearing and the true
        light is already blazing. 9 Anyone who says, “I am in the light,” while
        holding hatred in his heart toward a fellow believer is still in the
        darkness. 10 But the one who truly loves a fellow believer lives in the
        light, and there is nothing in him that will cause someone else to stumble.
        11 But whoever hates a fellow believer lives in the darkness stumbling
        around in the dark with no clue where he is going, for he is blinded by the
        darkness.
      </p>
    </ion-slide>
    <ion-slide>
      <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
      <h1>Testing Slide 2</h1>
      <p>5 This is the life-giving message we heard him share and
        it’s still ringing in our ears. We now repeat his words to you: God is pure
        light. You will never find even a trace of darkness in him. 6 If we claim
        that we share life with him, but keep walking in the realm of darkness,
        we’re fooling ourselves and not living the truth. 7 But if we keep living in
        the pure light that surrounds him, we share unbroken fellowship with one
        another, and the blood of Jesus, his Son, continually cleanses us from
        all sin.</p>
     
    </ion-slide>
    <ion-slide>
      <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
      <h1>Testing Slide 3</h1>
      <p> 8 If we boast that we have no sin, we’re
        only fooling ourselves and are strangers to the truth. 9 But if we freely
        admit our sins when his light uncovers them, he will be faithful to
        forgive us every time. God is just to forgive us our sins because of Christ,
        and he will continue to cleanse us from all unrighteousness. 10 If we
        claim that we’re not guilty of sin when God uncovers it with his light,
        we make him a liar and his word is not in us.</p>
      <p>page 3</p>
      <ion-icon class="forward" size="large" name="arrow-forward-circle-outline" routerLink="/chapter3"></ion-icon>
    </ion-slide>
  </ion-slides>
  <!-- <ion-icon class="back" size="large" name="list-outline" routerLink="/table-of-contents"></ion-icon>
  <ion-icon class="forward" size="large" name="arrow-forward-circle-outline" routerLink="/chapter1pg2"></ion-icon>
  <div class="pageNumber">
    <p>1</p>
  </div> -->
</ion-content>

