<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><a routerLink="/table-of-contents">1 John 4:1-6</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-slides pager="true">
    <ion-slide>
      <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
      <h1>Chapter 4</h1>
      <h3>A Warning against False Teaching</h3>
      <hr />
      <p>
        1 Delightfully loved friends, don’t trust every spirit, but carefully
        examine what they say to determine if they are of God, because many false
        prophets have mingled into the world. 2 Here’s the test for those with the
        genuine Spirit of God: they will confess Jesus as the Christ who has come in
        the flesh. 3 Everyone who does not acknowledge that Jesus is from God has
        the spirit of antichrist, which you heard was coming and is already active
        in the world. 4 Little children, you can be certain that you belong to God
        and have conquered them, for the One who is living in you is far greater
        than the one who is in the world. 5 They belong to this world and they
        articulate the spirit of this world, and the world listens to them. 6 But we
        belong to God, and whoever truly knows God listens to us. Those who refuse
        to listen to us do not belong to God. That is how we can know the difference
        between the spirit of truth and the spirit of deceit.
      </p>
      <ion-icon class="forward" size="large" name="arrow-forward-circle-outline" routerLink="/chapter5"></ion-icon>
    </ion-slide>
  </ion-slides>
  <!-- <ion-icon class="back" size="large" name="list-outline" routerLink="/table-of-contents"></ion-icon>
  <ion-icon class="forward" size="large" name="arrow-forward-circle-outline" routerLink="/chapter1pg2"></ion-icon>
  <div class="pageNumber">
    <p>1</p>
  </div> -->
</ion-content>

