<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><a routerLink="/table-of-contents">1 John 1:1-4</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
      <h1>Testing Slide 1</h1>
      <p>1 We saw him with our very own eyes. We gazed upon him and heard him
        speak. Our hands actually touched him, the one who was from the
        beginning, the Living Expression of God. 2 This Life-Giver was made
        visible and we have seen him. We testify to this truth: the eternal
        Life-Giver lived face-to-face with the Father and has now dawned upon us. 3
        So we proclaim to you what we have seen and heard about this Life-Giver so
        that we may share and enjoy this life together. For truly our fellowship
        is with the Father and with his Son, Jesus, the Anointed One. 4 We are
        writing these things to you because we want to release to you our fullness
        of joy.</p>
    </ion-slide>
    <ion-slide>
      <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
      <h1>Testing Slide 2</h1>
      <p>5 This is the life-giving message we heard him share and
        it’s still ringing in our ears. We now repeat his words to you: God is pure
        light. You will never find even a trace of darkness in him. 6 If we claim
        that we share life with him, but keep walking in the realm of darkness,
        we’re fooling ourselves and not living the truth. 7 But if we keep living in
        the pure light that surrounds him, we share unbroken fellowship with one
        another, and the blood of Jesus, his Son, continually cleanses us from
        all sin.</p>
     
    </ion-slide>
    <ion-slide>
      <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
      <h1>Testing Slide 3</h1>
      <p> 8 If we boast that we have no sin, we’re
        only fooling ourselves and are strangers to the truth. 9 But if we freely
        admit our sins when his light uncovers them, he will be faithful to
        forgive us every time. God is just to forgive us our sins because of Christ,
        and he will continue to cleanse us from all unrighteousness. 10 If we
        claim that we’re not guilty of sin when God uncovers it with his light,
        we make him a liar and his word is not in us.</p>
      <p>page 3</p>
      <ion-icon class="forward" size="large" name="arrow-forward-circle-outline" routerLink="/chapter2"></ion-icon>
    </ion-slide>
  </ion-slides>
  <!-- <ion-icon class="back" size="large" name="list-outline" routerLink="/table-of-contents"></ion-icon>
  <ion-icon class="forward" size="large" name="arrow-forward-circle-outline" routerLink="/chapter1pg2"></ion-icon> -->
  <!-- <div class="pageNumber">
    <p>1</p>
  </div> -->
</ion-content>
