/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-button{
  width: 150px;
  margin: auto;
  margin-bottom: 5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ion-title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
// p{
//   margin-left: 3%;
//   margin-right: 3%;
//   font-size: 24px;
//   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
// }
// .pageNumber{
// text-align: center;
// font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
// margin-bottom: 20px;
// }
h1{
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
  margin: auto;
  padding-top: 10px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footerImg{
  width: 100%;
  height: auto;
}
.forward {
  position: absolute;
  left: 60%;
  transform: translate(-50%, -50%);
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
}
.back {
  position: absolute;
  left: 40%;
  transform: translate(-50%, -50%);
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
}
img{
align-content: center;
background-size: cover;
overflow: cover;
height: 100%;
width: auto;
}
ion-button{
width: 150px;
margin: auto;
margin-bottom: 5%;
margin-top: 20px;
}
