<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title class="homeTitle">The Book of 1 John</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<a routerLink="/table-of-contents">
<img src="../../assets/img/BibleHome.jpg" alt="">
</a>
<!-- <ion-button expand="block" size="small" href="/tableofcontents">Get in the word!</ion-button> -->
</ion-content>
